@media print {
  table.print\:border {
    border: 2px solid #000 !important;
    border-collapse: collapse !important;
  }
  th.print\:border, td.print\:border {
    border: 1.5px solid #000 !important;
    background: #fff !important;
  }
} 